.Answers {
    margin: 0;
    padding: 0;
}

.Answers li {
    padding: 10px;
    border-left: 4px solid #FF3B3B;
    background-color:rgb(63, 60, 60);
    margin: 0 0 5px;
}

.Answers li:hover {
    cursor: pointer;
    background-color: rgb(45, 118, 202);
}

.Answers .correct,
.Answers .correct:hover{
    background: #1db900;
    border-left: 4px solid #0f6300;
    color: #fff;

}

.Answers .incorrect,
.Answers .incorrect:hover{
    background: #ec0000;
    border-left: 4px solid #ff3b3b;
    color: #fff;

}

.Answers[disabled]{
    pointer-events: none;
    opacity:0.7;

}