

.astronaut-dropdown{
    grid-area: header;
    /* width:300px;
    height:40px;
    font-size: medium; */
}
.astronaut-dropdown > select{
    width:300px;
    height:40px;
    font-size: medium;
}

.chart{
    grid-area:sidebar;
}

.astronaut-details{
    grid-area: main;
}

.astronaut-container{
    background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2870&q=80');
    display: grid;
    grid-template-columns: 50em 30em 20em;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "main  sidebar sidebar";
}

.container>h1{
    color:white;
    margin-top:50px;
}

.container > h1 > span{
    background-color: black;
}

