.astronaut-details >img{
    margin-bottom: 20px;
    
}

p{
    width:35em;
    margin-left:auto;
    margin-right:auto;
}

.astronaut-details{
    
    background-color: white;
    width:40em;
    height:auto;
    justify-content: center;
    color:black;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 15px;
    margin-top:20px;
    padding-top: 5px;
}

h1{
    color:black;
}